@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(20, 20, 20);
}
.header {
  height: 56px;
  background-color: rgb(50, 50, 50);
  display: flex;
  margin-bottom: 15px;
}

.logo {
  margin: 10px;
}
.logo img {
  width: 100px;
}

.body {
  background-color: rgb(50, 50, 50);
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}

.title {
  width: 20%;
  padding: 20px;
}

a {
  text-decoration: none;
  color: wheat;
}

.intro {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.index {
  padding: 10px;
  width: 30%;
  display: inline-block;
  border: solid 1px gray;
}

.detail_index {
  width: 95%;
  margin: 0 auto;
}

.inform {
  width: 500px;
  text-align: center;
  background-color: rgb(210, 180, 240);
}

.gf {
  width: 496px;
  height: 700px;
}

.main_td {
  padding: 10px;
}

.sub_td {
  padding: 10px;
  text-align: left;
  background-color: rgb(50, 50, 50);
}

.ann {
  font-size: 10px;
  vertical-align: super;
}

.main {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}

.content_title {
  font-size: 25px;
  border-bottom: 1px solid gray;
}

.content_main {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content_main > ul {
  margin: 2%;
  width: 98%;
}

.imgs {
  width: 100%;
  text-align: center;
}

.nickname-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(50, 50, 50);
  border: 2px solid rgb(210, 180, 240);
}

.nick_td {
  padding: 10px;
  text-align: center;
}

.com_td {
  padding: 10px;
}

.nick_td,
.com_td {
  border: 1px solid gray;
}

.footer {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px sold gray;
  margin-top: 10px;
  padding: 30px;
}
